@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('../fonts/BagelFatOne-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimPuzzleTTF-Outline';
    src: url('../fonts/Hakgyoansim Puzzle TTF Black.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('../fonts/EF_jejudoldam.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic Bold';
    src: url('../fonts/NEXONLv1GothicBold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic Regular';
    src: url('../fonts/NEXONLv1GothicRegular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}