* {
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    user-select: none;
}

.btnWrap {
    position: fixed;
    top: 12%;
    right: 2%;
    
    display: flex;
    flex-direction: column;
}